if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
fi

DEVENV_ROOT_FILE="$(mktemp)"
printf %s "${PWD}" > "${DEVENV_ROOT_FILE}"
if ! use flake . --override-input devenv-root "file+file://${DEVENV_ROOT_FILE}"; then
    printf '%s\n' "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi
