chardet==5.2.0
ffmpeg-python==0.2.0
humanfriendly==10.0
mutagen==1.47.0
numpy==1.26.4
numpy==1.26.4
opencv_python>=4.8.0.74,<=4.9.0.80
pillow-heif==0.16.0
pillow-jxl-plugin==1.2.6
Pillow==10.3.0
pydub==0.25.1
PySide6_Addons==6.7.1
PySide6_Essentials==6.7.1
PySide6==6.7.1
rawpy==0.21.0
SQLAlchemy==2.0.34
structlog==24.4.0
typing_extensions>=3.10.0.0,<=4.11.0
ujson>=5.8.0,<=5.9.0
vtf2img==0.1.0